
.current-utc-time {
    font-size: 15px;
    font-weight: bold;
    color: yellow; 
    animation: pulse 1s infinite; 
    background: red;
    
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    
  }
  
 
  
  